.button {
    background-color: rgba(0, 89, 255, 0.586);
    color: white;
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    cursor: pointer;
}

.cont {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    color: rgba(255, 255, 255, 0.711);
}

.textImage {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    background-color: rgba(0, 119, 255, 0.607);
    border-radius: 30px;
    padding: 20px;
}

.textImage > img {
    border-radius: 30px;
}

.text {
    font-size: 30px;
}

.one {
    font-weight: bold;
    margin-bottom: 30px;
}

@media (max-width:1000px) {
    .textImage > img {
        width: 300px;
    }

    .cont {
        padding: 20px;
    }

    .textImage {
        column-gap: 20px;
    }
}

@media (max-width:750px) {
    .textImage > img {
        width: 160px;
    }

    .text {
        font-size: 20px;
    }

    .cont {
        padding: 5px;
    }

    .textImage {
        column-gap: 20px;
        padding: 5px;
    }
}

@media (max-width:400px) {
    .textImage > img {
        width: 128px;
    }

    .text {
        font-size: 15px;
    }

    .cont {
        padding: 10px;
    }

    .textImage {
        column-gap: 10px;
    }
}