.forGray {
    background-color: rgba(128, 128, 128, 0.588);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    min-height: 1360px;
}

.hidden {
    display: none;
}

.cont {
    padding: 40px;
    position: relative;
    min-height: 80vh;
}

.basic {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 50px;
    margin-top: 50px;
}

.primary {
    max-width: 500px;
    width: 30vw;
    height: 60vh;
}

.primary > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.name {
    font-size: 25px;
    font-weight: bold;
}

.reviewCont {
    display: flex;
    justify-content: start;
    align-items: center;
}

.review {
    color: blue;
}

.stars::before {
    content: "★★★★★";
}

.stars {
    background: linear-gradient(90deg, gold var(--percent), rgba(0, 0, 0, 0.2) var(--percent));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 25px;
}

.sale {
    font-size: 15px;
    color: red;
}

.price {
    font-size: 30px;
}

.priceCont {
    margin-top: 20px;
}

.cart {
    max-width: 200px;
    padding: 10px;
    background-color: rgb(255, 208, 0);
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
}

.images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
}

.descr {
    max-width: 45%;
}

.description {
    margin-top: 50px;
    font-size: 17px;
    color: rgb(60, 60, 60);
}

.overviewCont {
    margin-top: 30px;
}

.featureCont {
    display: flex;
    margin-top: 50px;
}

.featureCont > p {
    font-size: 25px;
    width: 25%;
}

.featureCont > ul {
    max-width: 50%;
    color: rgb(91, 91, 91);
}

.featureCont > ul > li {
    margin-bottom: 20px;
}

.fullInfo {
    margin-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
}

.overview {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.specs {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(170, 170, 170);
    margin-top: 50px;
}

.specsCont {
    width: 50%;
    margin-top: 50px;
}

.outerCont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.title {
    font-size: 15px;
    font-weight: bolder;
    text-align: left;
    width: 50%;
}

.value {
    font-size: 15px;
    font-weight:100;
    text-align: left;
    width: 50%;
    color: rgb(72, 72, 72);
}

@media (max-width: 750px) {
    .basic {
        flex-direction: column-reverse;
        align-items: center;
    }

    .descr {
        max-width: 100%;
    }

    .primary {
        width: 50vw;
    }

    .specsCont {
        width: 100%;
    }
}